.container{
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}
.container img{
    cursor:pointer;
}
.container img{
    height: 300px;
    margin-top: 40px;
}
/*.name{*/
/*    display: grid;*/
/*    grid-template-columns: 0.7fr;*/
/*    justify-content: center;*/
/*}*/
/*@media only screen and (min-width: 1200px) {*/
/*    .name{*/
/*        display: grid;*/
/*        grid-template-columns: 0.7fr;*/
/*        justify-content: left;*/
/*        margin-left: 10px;*/
/*    }*/
/*}*/