.menu{
    width: 100%;
    height: 50px;
    color: azure;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*padding-left: 700px;*/
    /*padding-right: 100px;*/
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.forItems{
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}
.itemUserField{
    right: 0;
    width: 200px;
}
.item a{
    font-size: 20px;
    color: azure;
    text-decoration: none;
    margin-right: 30px;
}
.item a.active{
    font-size: 22px;
    color: cornsilk;
    text-decoration: none;
}
.logo{
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

@media only screen and (min-width : 1800px) {
    .forItems{
        width: 400px;
        display: flex;
        flex-direction: row;
        margin-left: 37%;
    }
    .itemUserField{
        margin-left: 400px;
        width: 200px;
    }
}
@media only screen and (max-width : 1800px){
    .forItems{
        width: 400px;
        display: flex;
        flex-direction: row;
        margin-left: 33%;
    }
    .itemUserField{
        margin-left: 14%;
        width: 200px;
    }
}
@media only screen and (max-width : 1200px){
    .forItems{
        width: 250px;
        display: flex;
        flex-direction: row;
        margin-left: 22%;
    }
    .itemUserField{
        margin-left: 8%;
        width: 200px;
    }
}
@media only screen and (max-width : 922px){
    .forItems{
        width: 250px;
        display: flex;
        flex-direction: row;
        margin-left: 22%;
    }
    .itemUserField{
        margin-left: 8%;
        width: 200px;
    }
}
@media only screen and (max-width : 768px){
    .forItems{
        width: 250px;
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
    .itemUserField{
        margin-left: 8%;
        width: 200px;
    }
    .item a{
        font-size: 20px;
        color: azure;
        text-decoration: none;
        margin-right: 15px;
    }
}
@media only screen and (max-width : 576px){
    .forItems{
        width: 170px;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }
    .itemUserField{
        margin-left: 8%;
        width: 200px;
    }
    .item a{
        font-size: 20px;
        color: azure;
        text-decoration: none;
        margin-right: 5px;
    }
    .logo{
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
}



