@media only screen and (min-width: 1200px) {
    .main_Container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        grid-gap: 20px;
        padding-top: 20px;
    }

    .main{
        width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .menu_logo{
        display: none;
        width: 200px;
    }
    .menu_logo img{
        width: 200px;


    }
    .logo{
        width: 100%;
    }

    .logo img{
        width: 200px;
        display: block;
    }

    .add_information_container{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        min-width: 600px;
        display: grid;
        justify-content: right;

    }

    .add_information{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }


    .add_information .menu_item{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
        box-sizing: content-box;

    }
    .add_information p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: #3A3838;
        border-bottom-style: solid;
    }

    .add_information a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    .add_information_dark{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }


    .add_information_dark p{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        box-sizing: content-box;

    }
    .add_information_dark p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .add_information_dark a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information_dark a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }


    .number_of_phone_container{
        width: 100%;
        display: grid;
        justify-content: right;
        box-sizing: border-box;

    }

    .numberOfPhoneIMG{
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
    }

    .number_of_phone{
        display: flex;
        box-sizing: border-box;
        height: auto;
    }
    /*.number_of_phone p{*/
    /*    */
    /*}*/
    .number_of_phone_title{
        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
    }
    .number_of_phone_title_dark{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }
    .number_of_phone button{
        margin-top: 12px;
        height: 21px;
        border-color: #3A3838;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }

    .number_of_phone_dark{
        display: flex;
        box-sizing: border-box;
        height: auto;
    }
    .number_of_phone_dark  .menu_item{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }



    .number_of_phone_dark button{
        margin-top: 12px;
        height: 21px;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        color: white;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone_dark button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1010px) and (max-width: 1199px)  {
    .main_Container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        grid-gap: 20px;
        padding-top: 20px;
    }

    .main{
        width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .menu_logo{
        display: none;
        width: 200px;
    }
    .menu_logo img{
        width: 200px;


    }
    .logo{
        width: 100%;
    }

    .logo img{
        width: 200px;
        display: block;
    }

    .add_information_container{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        min-width: 600px;
        display: grid;
        justify-content: right;

    }

    .add_information{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }


    .add_information  .menu_item{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
        box-sizing: content-box;

    }
    .add_information p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: #3A3838;
        border-bottom-style: solid;
    }

    .add_information a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    .add_information_dark{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }


    .add_information_dark p{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        box-sizing: content-box;

    }
    .add_information_dark p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .add_information_dark a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information_dark a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    .number_of_phone_container{
        width: 100%;
        display: grid;
        justify-content: right;
        box-sizing: border-box;

    }
    .numberOfPhoneIMG{
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
    }

    .number_of_phone{
        display: flex;
        box-sizing: border-box;
        height: auto;
    }

    .number_of_phone_title{
        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
    }
    .number_of_phone_title_dark{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }


    .number_of_phone button{
        margin-top: 12px;
        height: 21px;
        border-color: #3A3838;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }

    .number_of_phone_dark{
        display: flex;
        box-sizing: border-box;
        height: auto;
    }
    .number_of_phone_dark  .menu_item{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }



    .number_of_phone_dark button{
        margin-top: 12px;
        height: 21px;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        color: white;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone_dark button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
}

@media only screen and (min-width: 810px) and (max-width: 1009px) {
    .main_Container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        grid-gap: 20px;
        padding-top: 20px;
    }

    .main{
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .menu_logo{
        display: none;
        width: 200px;
    }
    .menu_logo img{
        width: 200px;


    }
    .logo{
        width: 100%;
    }

    .logo img{
        width: 200px;
        display: block;
    }

    .add_information_container{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        min-width: 600px;
        display: grid;
        justify-content: right;

    }

    .add_information{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }


    .add_information  .menu_item{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
        box-sizing: content-box;

    }
    .add_information p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: #3A3838;
        border-bottom-style: solid;
    }

    .add_information a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    .add_information_dark{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }


    .add_information_dark p{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        box-sizing: content-box;

    }
    .add_information_dark p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .add_information_dark a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information_dark a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    .number_of_phone_container{
        width: 100%;
        display: grid;
        justify-content: right;
        box-sizing: border-box;

    }
    .numberOfPhoneIMG{
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
    }

    .number_of_phone{
        display: flex;
        box-sizing: border-box;
        height: auto;
    }


    .number_of_phone_title{
        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
    }
    .number_of_phone_title_dark{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }

    .number_of_phone button{
        margin-top: 12px;
        height: 21px;
        border-color: #3A3838;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }

    .number_of_phone_dark{
        display: flex;
        box-sizing: border-box;
        height: 15px;
    }
    .number_of_phone_dark .menu_item{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }


    .number_of_phone_dark button{
        margin-top: 12px;
        height: 21px;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        color: white;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone_dark button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
}

@media only screen and (min-width: 600px)and (max-width: 809px) {
    .main_Container{
        /*width: 100%;*/
        /*height: 100px;*/
        display: flex;
        /*grid-template-columns: 0.7fr;*/
        justify-content: center;
        /*!*grid-gap: 20px;*!*/
        /*padding-top: 20px;*/
    }

    .main{
        width: 600px;
        display: flex;

        /*grid-template-columns: 100px 1fr;*/
        /*justify-content: center;*/
    }
    .menu_logo{
        display: none;
        width: 200px;
    }
    .menu_logo img{
        width: 200px;
        display: block;
    }
    .logo{
        /*display: none;*/
        width: 200px;
        /*border-style: solid;*/
    }

    .logo img{
        width: 200px;
        display: block;
    }

    .add_information_dark{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        display: none;
    }


    .add_information_dark p{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        box-sizing: content-box;

    }
    .add_information_dark p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .add_information_dark a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information_dark a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    .add_information_container{
        width: 400px;
        height: 30px;
        box-sizing: border-box;
        /*min-width: 600px;*/
        display: grid;
        justify-content: right;
        /*border-style: solid;*/
    }

    .add_information{
        width: 100%;
        height: 40px;
        display: none;
        flex-direction: row;
        /*box-sizing: content-box;*/

    }

    .add_information  .menu_item{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
        box-sizing: content-box;

    }
    .add_information  .menu_item:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: #3A3838;
        border-bottom-style: solid;
    }

    .number_of_phone_container{
        width: 100%;
        display: grid;
        justify-content: right;
        align-items: center;


    }
    .number_of_phone{
        display: flex;
    }
    .number_of_phone_title{
        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
    }
    .number_of_phone_title_dark{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }
    .number_of_phone img{
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
    }
    .number_of_phone button{
        margin-top: 12px;
        height: 21px;
        border-color: #3A3838;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        padding-bottom: 2px;
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
        outline: none;
    }

    .number_of_phone button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }

    .number_of_phone_dark{
        display: flex;
        box-sizing: border-box;
        height: 20px;
        margin-top: 10px;
        /*padding-top: 10px;*/
    }
    .number_of_phone_dark  .menu_item{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }



    .number_of_phone_dark button{
        margin-top: 12px;
        height: 21px;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        color: white;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone_dark button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
}

@media only screen and (min-width: 438px) and (max-width: 599px) {
    .main_Container{
        /*width: 100%;*/
        /*height: 100px;*/
        display: flex;
        /*grid-template-columns: 0.7fr;*/
        justify-content: center;
        /*!*grid-gap: 20px;*!*/
        /*padding-top: 20px;*/

    }

    .number_of_phone_dark{
        display: flex;
        box-sizing: border-box;
        height: auto;
        padding-right: 30px;
        /*align-items: center;*/

    }
    .number_of_phone_dark .menu_item{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
    }



    .number_of_phone_dark button{
        margin-top: 12px;
        height: 21px;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        outline: none;
        color: white;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone_dark button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }

    .main{
        width: 400px;
        display: flex;

        /*grid-template-columns: 100px 1fr;*/
        /*justify-content: center;*/
    }
    .menu_logo{
        width: 50px;
    }
    .menu_logo img{
        margin-top: 10px;
        width: 30px;
        display: block;
    }
    .menu_logo img:hover{
        cursor: pointer;
    }
    .logo{
        display: none;
        width: 200px;
        /*border-style: solid;*/
    }

    .logo img{
        width: 200px;
        display: block;
    }

    .add_information_container{
        width: 400px;
        height: 30px;
        box-sizing: border-box;
        /*min-width: 600px;*/
        display: grid;
        justify-content: right;
        /*border-style: solid;*/
    }

    .add_information{
        width: 100%;
        height: 40px;
        display: none;
        flex-direction: row;
        /*box-sizing: content-box;*/

    }

    .add_information  .menu_item{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
        box-sizing: content-box;

    }
    .add_information  .menu_item:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: #3A3838;
        border-bottom-style: solid;
    }

    .number_of_phone_container{
        width: 100%;
        display: grid;
        justify-content: right;

    }
    .number_of_phone{
        display: flex;
    }

    .number_of_phone_title{
        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;

    }
    .number_of_phone_title_dark{
        font-family: Montserrat, sans-serif,sans-serif;
        width: 160px;
        margin-left: 40px;
        color: white;
    }

    .number_of_phone img{
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
    }
    .number_of_phone button{
        margin-top: 12px;
        height: 21px;
        border-color: #3A3838;
        border-radius: 5px;
        border-width: 1px;
        width: 150px;
        padding-bottom: 2px;
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
        outline: none;
    }

    .number_of_phone button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
    .add_information_dark{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        display: none;
    }


    .add_information_dark p{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        box-sizing: content-box;

    }
    .add_information_dark p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .add_information_dark a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information_dark a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
}

@media only screen and (min-width: 328px) and (max-width: 437px) {
    .main_Container{
        /*width: 100%;*/
        /*height: 100px;*/
        display: flex;
        /*grid-template-columns: 0.7fr;*/
        justify-content: center;
        /*!*grid-gap: 20px;*!*/
        /*padding-top: 20px;*/

    }

    .main{
        width: 100%;
        display: flex;

        /*grid-template-columns: 100px 1fr;*/
        /*justify-content: center;*/
    }
    .menu_logo{
        width: 50px;
    }
    .menu_logo img{
        margin-top: 10px;
        width: 30px;
        display: block;
        margin-left: 10px;
    }
    .menu_logo img:hover{
        cursor: pointer;
    }
    .logo{
        display: none;
        width: 200px;
        /*border-style: solid;*/
    }

    .logo img{
        width: 200px;
        display: block;
    }

    .add_information_container{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        /*min-width: 600px;*/
        display: grid;
        justify-content: right;
        /*border-style: solid;*/
        margin-right: 10px;
    }

    .add_information{
        width: 100%;
        height: 40px;
        display: none;
        flex-direction: row;
        /*box-sizing: content-box;*/

    }

    .add_information  .menu_item{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
        box-sizing: content-box;

    }
    .add_information  .menu_item:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: #3A3838;
        border-bottom-style: solid;
    }

    .number_of_phone_container{
        width: 100%;
        display: grid;
        justify-content: right;

    }
    .number_of_phone{
        display: flex;
    }


    .number_of_phone_title{
        display: none;
    }
    .number_of_phone_title_dark{
        display: none;
    }

    .number_of_phone img{
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
        display: none;
    }
    .number_of_phone button{
        margin-top: 12px;
        height: 21px;
        border-color: #3A3838;
        border-radius: 5px;
        border-width: 1px;
        width: 100px;
        padding-bottom: 2px;
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
        outline: none;
    }

    .number_of_phone button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
    .number_of_phone_dark{
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        height: auto;
        /*align-items: center;*/

    }
    .number_of_phone_dark  .menu_item{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        /*width: 140px;*/
        font-size: 10px;
        /*display: none;*/
    }



    .number_of_phone_dark button{
        margin-top: 12px;
        height: 21px;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
        width: 100px;
        outline: none;
        color: white;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone_dark button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
    .add_information_dark{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        display: none;
    }
    .number_of_phone_dark img{
        display: none;
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
    }

    .add_information_dark p{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        box-sizing: content-box;

    }
    .add_information_dark p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .add_information_dark a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information_dark a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
}

@media only screen and (max-width: 327px) {
    .main_Container{
        /*width: 100%;*/
        /*height: 100px;*/
        display: flex;
        /*grid-template-columns: 0.7fr;*/
        justify-content: center;
        /*!*grid-gap: 20px;*!*/
        /*padding-top: 20px;*/

    }

    .main{
        width: 100%;
        display: flex;

        /*grid-template-columns: 100px 1fr;*/
        /*justify-content: center;*/
    }
    .menu_logo{
        width: 50px;
    }
    .menu_logo img{
        margin-top: 10px;
        width: 30px;
        display: block;
        margin-left: 10px;
    }
    .menu_logo img:hover{
        cursor: pointer;
    }
    .logo{
        display: none;
        width: 200px;
        /*border-style: solid;*/
    }

    .logo img{
        width: 200px;
        display: block;
    }

    .add_information_container{
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        /*min-width: 600px;*/
        display: grid;
        justify-content: right;
        /*border-style: solid;*/
        margin-right: 10px;
    }

    .add_information{
        width: 100%;
        height: 40px;
        display: none;
        flex-direction: row;
        /*box-sizing: content-box;*/

    }

    .add_information  .menu_item{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: #5B5A5A;
        box-sizing: content-box;

    }
    .add_information  .menu_item:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: #3A3838;
        border-bottom-style: solid;
    }

    .number_of_phone_container{
        width: 100%;
        display: grid;
        justify-content: right;

    }
    .number_of_phone{
        display: flex;
    }
    .number_of_phone_title{
        display: none;
    }
    .number_of_phone_title_dark{
        display: none;
    }
    .number_of_phone img{
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
        display: none;
    }
    .number_of_phone button{
        margin-top: 12px;
        height: 21px;
        border-color: #3A3838;
        border-radius: 5px;
        border-width: 1px;
        width: 100px;
        padding-bottom: 2px;
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
        outline: none;
    }

    .number_of_phone button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
    .number_of_phone_dark{
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        height: auto;

    }
    .number_of_phone_dark  .menu_item{
        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        /*width: 140px;*/
        font-size: 10px;
        /*display: none;*/
    }



    .number_of_phone_dark button{
        margin-top: 12px;
        height: 21px;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
        width: 100px;
        outline: none;
        color: white;
        /*padding-bottom: 2px;*/
        background-color:rgba(0, 0, 0, 0);
        margin-left: 20px;
    }

    .number_of_phone_dark button:hover{
        border-color: red;
        color: red;
        cursor: pointer;
    }
    .add_information_dark{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        display: none;
    }
    .number_of_phone_dark img{
        display: none;
        width: 15px;
        height: 15px;
        margin-top: 16px;
        margin-right: 4px;
    }

    .add_information_dark p{
        height: 18px;
        margin-left: 10px;

        font-family: Montserrat, sans-serif,sans-serif;
        color: white;
        box-sizing: content-box;

    }
    .add_information_dark p:hover{
        cursor: pointer;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .add_information_dark a{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
    .add_information_dark a:hover{
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }
}






