.main{
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    display: block;
}
.content{
    width: 100%;
    max-height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: row;
    background-color: #191616;
}
.menu_Container{
    display: flex;
    flex-direction: column;
}
.menu{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 40px;
    padding: 25px;
}
.menu p{
    font-size: 20px;
}
.menu p:hover{
    font-size: 25px;
    color: #0000FF;
}
.Additional_Information{
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 40px;
    margin-top: 70px;
    padding: 25px;
}
.main_content{
    width: 1000px;
    height: 700px;
    background-color: white;
    border-radius: 40px;
    padding: 35px;
    margin-left: 75px;
}
.contentProfileSetting{
    display: flex;
    flex-direction: row;
}
.contentProfileSetting img{
    width: 300px;
    height: 300px;
}
.vl {
    border-left: 2px solid black;
    height: 500px;
    margin-left: 50px;
}
.contentProfileSetting h3{
    color: #6cb8ea;
}
.showData{
    display: block;
    width: 100px;
}
.showDataContainer{
    display: flex;
    flex-direction: row;
}