.container{
    width: 200px;
    height: 270px;
    border-color: #92a8d1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}
.information{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.name{
    width: 190px;
    height: 40px;
    font-size: 17px;
}
.price{
    width: 190px;
    height: 30px;
    color: #419610;
    margin-top: 5px;
    margin-left: 70px;
    font-size: 20px;
}
.ImgItems{
    width: 200px;
    height: 110px;
}
.show {
    transition-duration: 0.4s;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: white;
    border-radius: 8px;
    color: black;
    border-color: black;
    font-size: 20px;
    cursor: pointer;

}

.show:hover {
    color: white;
    background-color: black;
}