.a_style {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

.a_style::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .07em;
    height: .1em;
    width: 100%;
    background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
    z-index: -1;
    transition: height .25s cubic-bezier(.6,0,.4,1);
}

.a_style:hover::after {
    height: .2em;
}
.content_two{
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    margin-top: 100px;
    margin-right: 40px;
    padding: 30px;
}
.content_two img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.row{
    display: flex;
    flex-direction: row;
}
.block_content{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 80px;
}
.title_two{
    font-size: 20px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.9);
}

