.back{
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
    margin-top: 300px;
    margin-right: 1330px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    font-size: 28px;
    border: 2px solid black;
    border-radius: 30px;
}
.back:hover {
    background-color: black; /* Green */
    color: white;
    border: 2px solid white;
}