
.main_Light{
  width: 100%;
  /*display: grid;*/
  /*grid-template-columns: 0.8fr;*/
  /*justify-content: center;*/
  background-image: url('http://134976.lp.tobiz.net/img/1920x0/9d327c29c7a61a0b05fdeabdba0d31e2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:right;
}
.main_Dark{
  width: 100%;
  /*background-image: url('https://www.zastavki.com/pictures/originals/2019Computers___Apple_Two_2019_Apple_New_MacBook_Pros_on_a_Black_Background_136312_.jpg');*/
  /*background-image: url('https://www.zastavki.com/pictures/originals/2018Computers___Apple_Open_Apple_MacBook_on_black_background_129988_.jpg');*/
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url('https://www.zastavki.com/pictures/originals/2018Computers___Apple_Open_Apple_MacBook_on_black_background_129988_.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:right;
  background-color: rgba(225,225,225,0.7);
}
.page{
  display: grid;
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*background-color: #191616;*/
}

.hideContent{
  width: 100%;
  height: 1200px;
  left: 0;
  top:0;
  z-index: 3;
  background-color: black;
  position: fixed;
  opacity: 0.7;
}

