.content{
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
    grid-gap: 30px;
}

.itemContainer{
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
}
.items{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    grid-gap: 10px;
    justify-content: center;
    height: 30px;
    margin-top: 40px;
}
.itemIphone{
    display: grid;
    justify-content: end;
    font-size: 20px;
}
.itemIphone a{
    text-decoration: none;
    color: #050505;
}
.itemIphone a:hover{
    font-size: 23px;

}

.itemsMac{
    font-size: 20px;
}
.itemsMac a{
    text-decoration: none;
    color: #050505;
}
.itemsMac a:hover{
    font-size: 23px;
}

.additional_Information{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.photo{

}
.photo img{
    width: 100%;
}
.description{
    display: block;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 300px;
    padding-top: 10%;
    -moz-box-sizing: border-box; /* Для Firefox */
    box-sizing: border-box; /* Ширина блока с полями */
}

.additional_InformationTwo{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.photo{

}
.photo img{
    width: 100%;
}
.description{
    display: block;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 300px;
    padding-top: 10%;
    -moz-box-sizing: border-box; /* Для Firefox */
    box-sizing: border-box; /* Ширина блока с полями */
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #424344; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}
.btn:hover {
    display: inline-block; /* Строчно-блочный элемент */
    background: #5D5E5E; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}
.containerSlides{
    /*height: 400px;*/
    /*margin-bottom: 30px;*/
    margin-top: 50px;
}

.containerForadditional_Information{
    margin-top: 30px;
}
.photo_bottom{
    width: 100%;
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
}
.photo_bottom img{
    width: 100%;
}





